<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Controle_Camera.Properties.Settings.ConnectionString"
            connectionString="Data Source=UNIOD;Persist Security Info=True;User ID=KELVEN_KLAY;Password=bio123;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>